<%= div_for cost do %>
	<p>
		<strong><%= cost.created_at.strftime("%A, %b %d %Y") %>
		<% localtime = cost.created_at.getlocal %>
		<%= localtime.strftime("%I:%M %p") %><br /></strong>
		$<%= h(cost.amount) %><br />
		<%= link_to "Delete", cost, method: :delete, data: { confirm: 'Are you sure you want to delete this Cost?' } %>
	</p>

<% end %>