<%= div_for income do %>
	<p>
		<strong><%= income.created_at.strftime("%A, %b %d %Y") %>
		<% localtime = income.created_at.getlocal %>
		<%= localtime.strftime("%I:%M %p") %><br /></strong>
		$<%= h(income.amount) %><br />
		<%= link_to "Delete", income, method: :delete, data: { confirm: 'Are you sure you want to delete this Income?' } %>
	</p>

<% end %>