<p id="notice"><%= notice %></p>

<h1>Wallet Tracker<br /><br /><br />Total balance: $
  <%
    sum = 0 
    @categories.each do |category| 
      sum = sum + (category.incomes.sum(:amount) - category.costs.sum(:amount))
    end 
  %>
  <%= sum %>
</h1>

<table>
  <thead>
    <tr>
      <th>Spending/Income Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><strong>Total: </strong>$<%= category.incomes.sum(:amount) - category.costs.sum(:amount)%></td>
        <td><%= link_to 'Open', category %></td>
        <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path %>
