<p id="notice"><%= notice %></p>

<h2>
  <strong>Category: </strong><%= @category.name %><br /><br />
  <strong>Balance: </strong>$<%= @category.incomes.sum(:amount) - @category.costs.sum(:amount)%>
</h2>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<h2>Costs</h2>
<div id="costs">
	<strong>Total costs: </strong><total>$<%= @category.costs.sum(:amount)%></total>
	<%= render :partial => @category.costs.reverse %>
</div>

<%= form_for([@category, Cost.new]) do |f| %>
	<p><%= f.label :body, "New Cost (whole dollar amount)" %><br />
		<%= f.text_area :amount %>
	</p>
	<p><%= f.submit "Add cost" %></p>
<% end %> 


<h2>Incomes</h2>
<div id="incomes">
	<strong>Total incomes: </strong><total>$<%= @category.incomes.sum(:amount)%></total>
	<%= render :partial => @category.incomes.reverse %>
</div>

<%= form_for([@category, Income.new]) do |f| %>
	<p><%= f.label :body, "New Income (whole dollar amount)" %><br />
		<%= f.text_area :amount %>
	</p>
	<p><%= f.submit "Add Income" %></p>
<% end %> 




